@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    color: #F7DBB2;
    background-color: #362F86;
    background-blend-mode: darken;
}

h1, .text-lg:not(.font-normal) {
    font-family: var(--font-wild);
}
ul {
    margin-block-start: 0;
    margin-block-end: 0;
}
