@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    color: #F7DBB2;
    background-color: #362F86;
    background-blend-mode: darken;
}

h1, .text-lg {
    font-family: var(--font-wild);
}
